<section class="hero">
    <div class="herotext">
        <h2>TEST THE BEST___________________________________</h2>
        <h1>Discover a drink that's made for you</h1>
        <button>CLICK HERE</button>
    </div>
    <img src="images/homepageimg.png" alt="">
</section>