<div class="articletest">
<h1>Blog</h1>

{{#each articles}}

    <div class="singlearticle">
    <h2>{{title}}</h2>
    {{{markdown}}}
    <img>
    </div>

    <a class="btn1 btncheck" href="{{this._id}}">Check Article</a>

    <form action="{{this._id}}/delete" method="POST">
        <button onclick="deleted()" class="btn2 btndelete" type="submit">Delete article</button>
	</form>
    

{{/each}}

<a href="/articles/new">Create new article</a>
</div>