<div class="articletest">
<h1>Blog</h1>

{{#each articles}}

    <div class="singlearticle">
    <h2>{{title}}</h2>
    {{{markdown}}}
    <img>
    </div>

    <a href="{{this._id}}">Check Article</a>

    <form action="articles/{{this._id}}/delete" method="POST">
        <button type="submit">Delete article</button>
	</form>
    

{{/each}}

<a href="articles/new">Create new article</a>
</div>