<form class="newblog" action="/articles/new" method="POST">
 <h2>New Article</h2>
<div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
</div>
<div>
    <label for="descrption">Description</label>
    <textarea name="description" id="description" ></textarea>
</div>
<div>
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown"></textarea>
</div>
<a href="all">Cancel</a>
<button type="submit">Save</button>
</form>